

.top-menu
{
  padding: 0.5em;
  text-align: center;
  background-color: lightblue;

}

.top-menu .pure-menu-heading
{
  color: white
  font-weight: 400;
  font-size: 120%;
}

.top-menu a{
  color: green
}

/* overrides css*/
.pure-menu.menu-fixed
{
  border-bottom: none; /*removes bottom border on fixed menu*/
  z-index: 4; /*menu stays above content*/
}



.top-menu .icon /* hides icon for small screens */
{
  display: none !important;
}
